.border_shadow_component {
  background-color: #fefefe;
  /* padding: 10px 20px; */
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.18);
}

.title_container {
  margin: 0;
  margin-bottom: 40px;
  font-size: 25px;
}

.components_container {
  width: 100%;
}

.header_components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title_header {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.btn_new {
  background-color: #33a70f;
  height: 32px;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.table_components {
  width: 100%;
  border-collapse: collapse;
  padding: 0 20px;
}

.table_components tr {
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
}

.table_components th {
  background-color: rgba(238, 238, 238, 0.753);
  color: rgb(83, 83, 83);
  font-size: 13px;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 200;
  padding: 5px 20px;
}

.table_components td:first-child {
  font-weight: 500;
}

.table_components th,
td {
  text-align: start;
}

.table_components td {
  padding: 0 20px;
}

td[colspan]:not([colspan="1"]) {
  text-align: center;
  padding: 20px 0;
}

.table_components a {
  color: black;
}

.last_column_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_dots {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btns_pagination_container {
  display: flex;
  padding: 20px 20px;
}

.btns_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btns_pagination:nth-child(2) {
  margin: 0 5px;
  background-color: #33a70f;
  color: white;
  border: none;
}
