.selected_ticket_container {
  padding: 0 20px;
  padding-bottom: 10px;
}

.header_selected_ticket {
  border-bottom: 1px rgb(233, 233, 233) solid;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.no_ticket_selected_ticket {
  padding: 10px 0;
}

.table_info,
.assigned_devs_container {
  padding: 10px 10px;
}

.header_table_selected_ticket {
  font-size: 11px;
}

th {
  text-align: start;
}

.table_info td[colspan="2"] {
  text-align: left;
}

.ticket_tags {
  display: inline;
  border-radius: 11px;
  color: #33a70f;
  font-weight: bold;
  font-size: 12px;
  background-color: #c9f3bd;
  padding: 2px 10px;
}

.assigned_devs_container {
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 20px;
}

.title_assigned_devs {
  margin-bottom: 5px;
}

.main_section_selected_ticket {
  display: flex;
  justify-content: space-between;
}

.info_section_selected_ticket {
  width: 49%;
}
