.projects_container {
  width: 100%;
}

.header_projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title_projects {
  margin: 0;
}

.btn_new_projects {
  background-color: #33a70f;
  height: 32px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.table_projects {
  width: 100%;
}

.table_projects th,
td {
  text-align: start;
}

td[colspan="3"] {
  text-align: center;
}

.contributors_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots_contributors {
  margin-right: 40px;
}

.pages_projects {
  display: flex;
}

.btns_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.btns_pages:nth-child(2) {
  margin: 0 5px;
  background-color: #33a70f;
  color: white;
  border: none;
}
