* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

a {
  text-decoration: none;
}
